<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>yūgen</title>
  <link rel="stylesheet" href="">
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
</head>
<body id="enter">
  <img src="https://i.imgur.com/GoZYuwn.jpg" class="center-block">
  <h1 class="text-center" id="yugen">y ū g e n</h1>
  <div class="text-center" id="buttons">
    <a class="btn btn-primary" id="signup" href="/users/new">Sign Up</a>
    <a class="btn btn-primary" id="login" href="/login">Log In</a>
  </div>
</body>
</html>
