<%= render 'welcomeandnav' %>

<div id="createandexplorecontainer" class="center-block">
  <div id="create" class="text-center"><a href="/posts/new" id="createlink">c r e a t e</a></div>
  <div id="explore" class="text-center"><a href="/users" id="explorelink">e x p l o r e</a></div>
</div>

