
<div class="container-fluid" id="welcomeandlogout">
  <div class="row">
    <div class="col-md-12" id="welcomename">
      <% if current_user %>
        Welcome, <%= current_user.first_name %>
        <%= link_to 'Log Out', session_path('backtostart'), :class => "logout", method: :delete %>
    </div>
  </div>
</div>
    <% end %>

<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
  <div class="container" id="navbar">
    <ul class="nav navbar-nav">
      <li id="navbuttons"><a href="/home">Home</a></li>
      <li id="navbuttons"><a href="/posts">My Adventures</a></li>
      <li id="navbuttons"><a href="/posts/new">Create</a></li>
      <li id="navbuttons"><a href="/users">Travelers</a></li>
      <li id="navbuttons"><a href="/users/:id/edit">My Profile</a></li>
      <li id="navbuttons"><a href="/locations">Locations</a></li>
      <li id="navbuttons"><a href="">About Us</a></li>
    </ul>
  </div>
</nav>
