// Enter Page

#enter {
  background-color: #d9d9d9;
}

#yugenpic{
  width: 1100px;
}

#loginpic {
  width: 1100px;
}

#yugen {
  font-size: 200px;
  font-family: "Raleway", sans-serif;
  position: relative;
  bottom: 600px;
}

#buttons {
  position: relative;
  bottom: 300px;
}

// Sign-Up Page

#signup {
  margin: 0 15px 0 15px;
}

#login {
  margin: 0 15px 0 15px;
}

form {
  padding: 20px;
}

.form-control {
  width: 400px;
}

#signupcontainer {
  position: relative;
  bottom: 900px;
  background-color: white;
  opacity: 0.8;
  background-image: url('https://i.imgur.com/cH6nP6P.jpg');
}

#errors {
  position: relative;
  bottom: 850px;
  color: white;
}
// Log-in Page


#login-box {
  border: 2px solid white;
  display: flex;
  justify-content: center;
}

#welcomeyugen, #email, #password {
  color: white;
}

#emailtext, #passwordtext {
  color: black;
}

#welcomebox {
  position: relative;
  bottom: 650px;
}

// Home Page

#welcomeandlogout {
  position: relative;
  top: 5px;
}


#navbar{
  margin-left: 0;
  position: relative;
}

#navbuttons {
  padding-right: 40px;
}

#welcomename {
  margin-bottom: 10px;
}
#createandexplorecontainer {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

#create, #explore {
 width: 550px;
}

#createlink, #explorelink {
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  color: white;
  position: relative;
  top: 200px;
  opacity: 0.8;
}

#create {
  background-image: url("https://i.imgur.com/kA0zLKX.jpg");
}

#explore {
  background-image: url("https://i.imgur.com/JY4sz1V.jpg");
}

.logout {
  float: right;
}

// My Adventures Page

#posts {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid;
  height: 800px;
}

#eachpost {
  border: 2px solid;
  height: 80px;
  padding: 0;
  margin-top: 30px;
}


#titleandlocationlist {
  list-style: none;
  padding-left: 20px;
  padding-top: 10px;
}

#linklist {
  padding-left: 800px;
  position: relative;
  bottom: 10px;
}

.link {
  display: inline;
  list-style: none;
}

// Users Page

#profilepic {
  width: 220px;
  height: 220px;
  padding: 10px;
}

#linkprofilename {
  width: 223.2px;
  height: 250px;
  margin-right: 10px;
}

#wholepage {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#name {
  font-size: 15px;
}

.explorelink {
  font-size: 15px;
  text-decoration: none;
  margin-left: 50px;
}

#nameandlink {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

/* User's Index Post Page*/

#showpagecontainer, #myadventurescontainer {
  position: relative;
}

#myadventurescontainer {
  background-color: lightgray;
}

#profilepicinindex {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

// User's Show 1 Post Page

#profilepiconshowuser {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#profilepiconshowpost {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 20px;
}

#profiletitledate {
  width: 1150px;
  display: flex;
  margin-top: 10px;
  background-color: lightgray;
}

#titleanddate {
  margin-left: 20px;
  margin-top: 50px;
}

#locationform {
  border: 2px solid;
  display: flex;
}

#middlecontainer {
  display: flex;
}

#tripdetailsandproscons {
  width: 575px;
  border-right: 2px solid;
}

#trippicscontainer {
  width: 520px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
  overflow: scroll;
  height: 650px;
}

#singlepictitle {
  height: 250px;
}
#trippics {
  height: 250px;
  width: 250px;
  margin-top: 10px;
}

#title {
  height: 20px;
  position: relative;
  bottom: 20px;
  text-align: center;
}

#tripdetails, #tipstricks {
  padding: 0 20px 0 20px;
  margin-left: 30px;
  overflow: scroll;
  height: 250px;
}

#tipstricks {
  height: 160px;
}

#prosandcons {
  list-style: none;
  padding: 0 20px 0 20px;
  margin-left: 30px;
  height: 100px;
  overflow: scroll;
}

#probox {
  margin-left: 30px;
  overflow: scroll;
}

#locations, .pnc {
  padding-left: 20px;
}

#middleheaders {
  margin-top: 10
}

#locationlist {
  height: 100px;
  width: 800px;
  overflow: scroll;
}

#imgtitle {
  border: 2px solid;
}

#deletepic {
  margin-bottom: 3px;
}

/*New Post Page*/

#description {
  height: 80px;
}

#newpostcontainer {
  position: relative;
}

#submit {
  float: right;
}
// Location Page

#wholelocationcontainer {
  background-image: url("https://pixabay.com/static/uploads/photo/2016/01/09/18/27/old-1130731_960_720.jpg");
  background-size: cover;
}

#locationcontainer {
  padding-top: 40px;
  height: 600px;
  width: 550px;
  border: 2px solid;
  opacity: 0.8;
  overflow: scroll;
}

#locationtext {
  text-decoration: underline;
  color: white;
  margin-top: 40px;
}

#loctext {
  color: white;
}

#locationtitlelink{
  text-decoration: none;
}

#aboutyugen {
  padding: 0 150px 0 150px;
}

#locationprofilepic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
