/*Enter Page*/

#enter {
  background-color: #d9d9d9;
}
#yugen {
  font-size: 200px;
  font-family: 'Raleway', sans-serif;
  position: relative;
  bottom: 600px;
}

#buttons {
  position: relative;
  bottom: 300px;
}

/*Sign-Up Page*/

#signup {
  margin: 0 15px 0 15px;
}

#login {
  margin: 0 15px 0 15px;
}

form {
  padding: 20px;
}

.form-control {
  width: 400px;
}

#signupcontainer {
  position: relative;
  bottom: 900px;
  background-color: white;
  opacity: 0.8;
}

/*Log-in Page*/


#login-box {
  border: 2px solid white;
  display: flex;
  justify-content: center;
}

#welcomeyugen, #email, #password {
  color: white;
}

#emailtext, #passwordtext {
  color:black;
}

#welcomebox {
  position: relative;
  bottom: 650px;
}

/*Home Page*/

#welcomeandlogout {
  position: relative;
  top: 5px;
}

#welcomename {
  padding-left: 43px;
}

#navbar{
  top: 30px;
  padding-left: 15px;
  margin-left: 0;
}

#navbuttons {
  padding-right: 40px;
}

#createandexplorecontainer {
  width: 1434px;
  height: 500px;
  position: relative;
  top: 75px;
  display: flex;
  justify-content: space-around;
}

#create, #explore {
 width: 700px;
}

#createlink, #explorelink {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  color: white;
  position: relative;
  top: 170px;
  opacity: 0.8;
}
#create {
  background-image: url("https://i.imgur.com/kA0zLKX.jpg");
}

#explore {
  background-image: url("https://i.imgur.com/JY4sz1V.jpg");
}


