/*Enter Page*/

#enter {
  background-color: #d9d9d9;
}
#yugen {
  font-size: 200px;
  font-family: 'Raleway', sans-serif;
  position: relative;
  bottom: 600px;
}

#buttons {
  position: relative;
  bottom: 300px;
}

/*Sign-Up Page*/

#signup {
  margin: 0 15px 0 15px;
}

#login {
  margin: 0 15px 0 15px;
}

form {
  padding: 20px;
}

.form-control {
  width: 400px;
}

.container {
  position: relative;
  bottom: 900px;
  background-color: white;
  opacity: 0.8;
}

/*Log-in Page*/


#login-box {
  border: 2px solid white;
  display: flex;
  justify-content: center;
}

#welcomeyugen, #email, #password {
  color: white;
}

#welcomebox {
  position: relative;
  bottom: 650px;
}
