/*Enter Page*/

#enter {
  background-color: #d9d9d9;
}

#yugen {
  font-size: 200px;
  font-family: "Raleway", sans-serif;
  position: relative;
  bottom: 600px;
}

#buttons {
  position: relative;
  bottom: 300px;
}

/*Sign-Up Page*/

#signup {
  margin: 0 15px 0 15px;
}

#login {
  margin: 0 15px 0 15px;
}

form {
  padding: 20px;
}

.form-control {
  width: 400px;
}

#signupcontainer {
  position: relative;
  bottom: 900px;
  background-color: white;
  opacity: 0.8;
}

/*Log-in Page*/


#login-box {
  border: 2px solid white;
  display: flex;
  justify-content: center;
}

#welcomeyugen, #email, #password {
  color: white;
}

#emailtext, #passwordtext {
  color: black;
}

#welcomebox {
  position: relative;
  bottom: 650px;
}

/*Home Page*/

#welcomeandlogout {
  position: relative;
  top: 5px;
}


#navbar{
  top: 30px;
  padding-left: 15px;
  margin-left: 0;
}

#navbuttons {
  padding-right: 40px;
}

#createandexplorecontainer {
  width: 1434px;
  height: 500px;
  position: relative;
  top: 75px;
  display: flex;
  justify-content: space-around;
}

#create, #explore {
 width: 700px;
}

#createlink, #explorelink {
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  color: white;
  position: relative;
  top: 170px;
  opacity: 0.8;
}

#create {
  background-image: url("https://i.imgur.com/kA0zLKX.jpg");
}

#explore {
  background-image: url("https://i.imgur.com/JY4sz1V.jpg");
}

.logout {
  float: right;
}

/*My Adventures Page*/

#posts {
  display: flex;
  flex-wrap: wrap;
}

#eachpost {
  border: 2px solid;
  height: 80px;
  top: 80px;
  padding: 10px 0 0 0;
  margin: 0 auto;
}

#space {
  width: 400px;
}

#titleandlocationlist {
  list-style: none;
  padding-left: 20px;
}

#linklist {
  padding-left: 800px;
  padding-bottom: 40px;
  position: relative;
  bottom: 10px;
}

.link {
  display: inline;
  list-style: none;
}

/*Users Page*/

#profilepic {
  width: 220px;
  height: 220px;
  padding: 10px;
}

#linkprofilename {
  width: 223.2px;
  height: 250px;
  border: 2px solid;
  margin-right: 10px;
}

#wholepage {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 100px;
}

#name {
  font-size: 15px;
}

.explorelink {
  font-size: 15px;
  text-decoration: none;
  margin-left: 50px;
}

#nameandlink {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

/* User's Index Post Page*/

#showpagecontainer, #myadventurescontainer {
  position: relative;
  top: 80px;
}

#profilepicinindex {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/*User's Show 1 Post Page*/

#profilepiconshowuser {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#profilepiconshowpost {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 20px;
}

#profiletitledate {
  width: 1150px;
  display: flex;
  margin-top: 10px;
}

#titleanddate {
  margin-left: 20px;
  margin-top: 50px;
}

#locationform {
  border: 2px solid;
  display: flex;
}

#middlecontainer {
  display: flex;
}

#tripdetailsandproscons {
  width: 575px;
}

#trippicscontainer {
  width: 575px;
  display: flex;
  border: 2px solid;
  justify-content: space-around;
  flex-wrap: wrap;
}

#singlepictitle {
  height: 250px;
}
#trippics {
  height: 250px;
  width: 250px;
  margin-top: 10px;
}

#title {
  height: 20px;
  position: relative;
  bottom: 0 20px 0 20px;
  text-align: center;
  margin: 0;
}

#tripdetails, #tipstricks {
  padding: 0 20px 0 20px;
  border: 2px solid;
}

#prosandcons {
  list-style: none;
  padding: 0 20px 0 20px;
}

#probox {
  border: 2px solid;
}

#locations, .pnc {
  padding-left: 20px;
}

#middleheaders {
  margin-top: 10
}

/*New Post Page*/

#description {
  height: 80px;
}

#newpostcontainer {
  position: relative;
  top: 50px;
}
