<%= render 'welcomeandnav' %>

<ul>
  <% @location.posts.each do |post| %>
    <li>
      <%= link_to post.title, post_path(post) %>
    </li>
  <% end %>
</ul>

<% @location.posts.each do |post| %>
  <img src="<%= post.user.profilepicture %>">
<% end %>
