<%= render 'welcomeandnav' %>

<ul>
  <% @location.posts.each do |post| %>
    <h1 class="text-center" id="locationtitlelink">
      <%= link_to post.title, post_path(post) %>
    </h1>
  <% end %>
</ul>

<% @location.posts.each do |post| %>
  <img class="center-block" src="<%= post.user.profilepicture %>">
<% end %>
